button { 
    width: 100%; 
    height: 100%; 
    font-size: 5em !important; 
}

button:focus{
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    background: #f0f0fa !important;
}